
.categories_item {
    margin-bottom: 78px;
}

.categories_title {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 38px;
}

@media (max-width: 1700px) {
    .categories_item {
        max-width: 84px;
    }

    .categories_title {
        margin-bottom: 30px;
    }
}
