.wishlist {
    padding-bottom: 174px;
}

.wishlist_profile {
    margin-bottom: 44px;
}

.wishlist_description {
    font-size: 38px;
    margin-bottom: 77px;
}

.wishlist_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
}

@media (max-width: 1700px) {
    .wishlist_items {
        gap: 40px 30px;
    }
}

@media (max-width: 1200px) {
    .wishlist_items {
        gap: 30px 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}