.wishlist {
    padding-bottom: 174px;
}

.wishlist_profile {
    margin-bottom: 44px;
}

.wishlist_description {
    font-size: 38px;
    margin-bottom: 77px;
}

.wishlist_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
}

.wishlist_no-wish {
    text-align: center;
    font-size: 36px;
}

@media (max-width: 1700px) {
    .wishlist_items {
        gap: 40px 30px;
    }
}

@media (max-width: 1200px) {
    .wishlist_profile {
        margin-bottom: 56px;
    }

    .wishlist_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .wishlist_description {
        font-size: 32px;
        margin-bottom: 84px;
    }
}

@media (max-width: 992px) {
    .wishlist {
        padding-top: 36px;
        padding-bottom: 142px;
    }

    .wishlist_profile {
        margin-bottom: 64px;
    }

    .wishlist_description {
        margin-bottom: 78px;
    }

    .wishlist_categories {
        max-width: 544px;
        margin: 0 auto;
    }

    .wishlist_items {
        grid-template-columns: 1fr;
        gap: 34px;
    }
}

@media (max-width: 740px) {
    .wishlist {
        padding-top: 16px;
        padding-bottom: 46px;
    }

    .wishlist_profile {
        margin-bottom: 32px;
    }

    .wishlist_description {
        font-size: 16px;
        max-width: 400px;
        margin: 0 auto 42px;
        text-align: center;
    }

    .wishlist_items {
        gap: 20px;
    }
}
